<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <link rel="stylesheet" href="layouts/css/main.css">
    <link rel="stylesheet" href="layouts/css/eighties.css">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">    
    <link rel="stylesheet" href="/css/style.css">
    <title>gamelist</title>
</head>

<body>
    <header class="inner">
        <h2><a href="/"><i class="fas fa-code"></i>
                GamePosts</a></h2>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/games">All Games</a>
                </li>
                <li>
                    <a href="/games/add">Add Game</a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <!-- Outputs views that use this layout -->
        {{{body}}}
    </div>


</body>

</html>