<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="layouts/css/main.css">
    <link rel="stylesheet" href="layouts/css/eighties.css">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
</head>
<body>

    <h1>Create Review</h1>

    <form action="/action_page.php">
        <label for="fname">Post Title:</label><br> 
        <input type="text" id="postTitle" placeholder="Add title"><br>

        <label for="lname">Video Game Title:</label><br>
        <input type="text" id="gameTitle" placeholder="Add Video Game title"><br>
  
        <label for="fname">Author:</label><br>
        <input type="text" id="author" placeholder="Add Name" ><br>
        
        <label for="review">Review:</label><br>
        <input type="text" id="gameReview" placeholder="Add Review" ><br><br>

        <input type="submit" value="Submit">
    </form> 
    
</body>
</html>