 <header class="inner">
        <h2><a href="/">
                GameTagr</a></h2>
        <nav class="navbar">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/games">All Games</a>
                </li>
                <li>
                    <a href="/games/add">Add Game</a>
                </li>
            </ul>
        </nav>
    </header>

<div class="container">
<section id="games">
    <h1>All Games</h1>

    <!-- Loop through games that were passed in -->
    {{#each games}}
    <div class="game">
        <a class= "link" href="/games/{{this.dataValues.id}}"><h2>{{this.dataValues.postTitle}}</h2></a>
    </div>
    <!-- If there are no games in the database -->
    {{else}}
    <p>No games available</p>
    {{/each}}
</section>
</div>