<img src="./image/logo.png" alt="Company logo">

<section id="search" class="search-wrap">
    <h1>Find Your Next Adventure!</h1>
    <form action="/games/search" class="search-form">
      <input type="search" name="term" placeholder="Super Mario Bros">
    </form>
  </section>

<a class="button" href="/games">Current Reviews</a>
<a class="button" href="/games/add">Create Reviews</a>