header {
    display: flex;
    top: 0;
    left: 0;
    width: 85%;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 6rem;
    margin: 0 auto;
  }
  
  header nav ul {
    display: flex;
  }
  
  header nav li {
    margin: 0 1rem;
  }
  
  /* Login Button Spacing */
  /*header nav li:last-child {
    margin-left: -5px;
  }*/
  
  header.inner {
    background: var(--bg-color);
    border-bottom: 4px solid var(--primary-color);
    position: relative;
    box-shadow: var(--box-shadow);
  }

  .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
  }

  .hero {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(/image/homebackground.jpg);
  }
/*Links to details*/
.link {
    text-decoration: none;
}

/* mouse over link */
.link:hover {
  color: #ff2155;
}

/*Details box*/
.details-box {
  background-color: rgba(0, 0, 0, 0.521);
  padding: 15px;
  position: fixed;
}
@media (min-width: 800px) {
 .details-box {
   margin-left: 50px;
   margin-right: 50px;
 }
}
@media(min-width: 1200px){
  .details-box {
    margin-left: 100px;
    margin-right: 100px;

  }
}
.yellow {
  color: #fcb42a;
}

/*Text input color*/
#review {
  color: white;
}

/*Delete Button*/

.size {
  font-size: 20px;
}

/*Star*/

.size-2 {
  font-size: 15px;
  color: #fcb42a;
}